<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">Basic Information</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">Gender</dt>
                <dd>Male</dd>

                <dt class="text-upper">D.O.B</dt>
                <dd>21 Aug 1990</dd>

                <dt class="text-upper">Mobile</dt>
                <dd>0434068708</dd>

                <dt class="text-upper">e-mail</dt>
                <dd><a href="mailto:xxxx@xx.com">caixingsu1990@gmail.com</a></dd>

                <dt class="text-upper">English</dt>
                <dd>Good</dd>

            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->